<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/auth/google">with google</a>
    <a href="/auth/github">with git hub</a>
  </body>
</html>
